/* public/css/style.css */



#whatsappOverlay {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e1ffe1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(74, 201, 148, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#whatsappOverlay img {
    width: 30px;
    height: 30px;
}

#whatsappOverlay:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
